base: wikitext103.yaml

data:
  lm_dataset: "HuggingFaceFW/fineweb-edu"
  lm_dataset_config: "sample-10BT"
  lm_tokenizer: "meta-llama/Llama-2-7b-hf"
  lm_dataset_streaming: true
  lm_seq_length: 2048

training:
  max_steps: 200000
  output_dir: results/fineweb_llama2

evaluation:
  eval_checkpoint: results/fineweb_llama2/best
